@font-face {
    font-family: 'body';
    src: url('../../theme-assets/fonts/IRANSans/IRANSansWeb.eot');
	src: url('../../theme-assets/fonts/IRANSans/IRANSansWeb.eot') format('embedded-opentype'), url('../../theme-assets/fonts/IRANSans/IRANSansWeb(FaNum).woff') format('woff'), url('../../theme-assets/fonts/IRANSans/IRANSansWeb.ttf') format('truetype');
}

body {
    font-family: 'body' !important;
    direction: rtl;
    text-align: right;
    font-size: 1rem;
}

.content-body {
    margin-right: 17.1875rem;
    margin-left: unset;
}

.nav-header .brand-logo{
    padding-right: 1.25rem;
    padding-left: unset;
}

.nav-header .brand-title {
    margin-left: 15px;
    max-width: 230px;
}

.form-check-label {
    margin-left: unset;
    margin-right: 25px;
    margin-top: 3px;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "انتخاب فایل";
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: unset;
    left: 0;
}

.logo-container{
    display: block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    box-shadow: 0 0 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    max-width: 100%;
}