@font-face {
    font-family: 'body';
    src: url('../../theme-assets/fonts/IRANSans/IRANSansWeb.eot');
	src: url('../../theme-assets/fonts/IRANSans/IRANSansWeb.eot') format('embedded-opentype'), url('../../theme-assets/fonts/IRANSans/IRANSansWeb(FaNum).woff') format('woff'), url('../../theme-assets/fonts/IRANSans/IRANSansWeb.ttf') format('truetype');
}

body {
    font-family: 'body' !important;
    direction: rtl;
    text-align: right;
    font-size: 1rem;
}

.ltr{
    text-align: center;
    direction: ltr;
}
.content-body {
    margin-right: 17.1875rem;
    margin-left: unset;
}

.nav-header .brand-logo{
    padding-right: 1.25rem;
    padding-left: unset;
}

.nav-header .brand-title {
    margin-left: 15px;
    max-width: 230px;
}

.form-check-label {
    margin-left: unset;
    margin-right: 25px;
    margin-top: 3px;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "انتخاب فایل";
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: unset;
    left: 0;
}

.logo-container{
    display: block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    box-shadow: 0 0 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-container img{
    max-width: 100%;
}


table.dataTable th {

    border-color: #575757 !important;
    border-width: 2px !important;
    border-style: solid !important;
    color: rgb(36, 36, 36) !important;
    font-weight: 700 !important;
    padding: 5px;
    text-align: center;
}
table.dataTable tbody td {
    padding: 7px 10px;
    border: 1px solid #c2bcbc !important;
    font-weight: 700;
    color: rgb(85, 85, 85);
}

.logo-container-delete{
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 24px;
    color: #e20e0e;
    cursor: pointer;
}

.quixnav .metismenu .has-arrow:after {
  right: unset;
  left: 1.5625rem;
  transform: rotate(-45deg) translateY(-50%);
}